{% extends 'base.html.twig' %}
	{% block title %}
		{% if firstname %}
			Modification
		{% else %}
			Ajout
		{% endif %}
	{% endblock %}

{% block body %}
	{% if firstname %}
		<h1 class="h3 mb-3 font-weight-normal">Modification du client : {{ firstname }}</h1>
	{% else %}
		<h1 class="h3 mb-3 font-weight-normal">Ajout d'un client</h1>
	{% endif %}
	<a class="btn-primary btn" href="{{ path('home') }}">Retour</a>
	{{ form(form) }}
{% endblock %}